article, aside, footer, main, section, form, ul, time > span {
    display: block;
}


.content-wrapper {
    width: 950px;
    margin: 0 auto;
    padding: 10px 0 1px 0;
}

.logo {
    float: left;
    display: inline-block;
    height: 62px;
    width: 185px;
}

/*Navigation Bar*/
.main-nav{
    text-transform: uppercase;
    list-style-type: none;
    float: left;
    width: auto;
    background: white url(../img/divider.png) right center no-repeat;
    padding: 0 10px 0 10px;
}

.login-list-item{
    list-style-type: none;
    float: left;
    background: white url(../img/divider.png) right center no-repeat;
    padding: 0 10px 0 10px;
}

.login-list-item >a:hover, .login-list-item >select:hover, .subjects-list>li:hover, .copyrights > a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.login-list{
    display: block;
    float: right;
    margin-top: auto;
}

.search-form{
    border: 1px solid #d2d2d2;
    border-radius: 6px;
    float: right;
    margin-top: 7px;
}

.search-line{
    width:  120px;
    height: 20px;
    border: none;
    margin: 0 5px 0 5px;
    border-radius: 6px;
    background: white url(../img/divider.png) right center no-repeat;
    outline: none;
    vertical-align: bottom;
}

.submit-button {
    background: white url(../img/searchBtn.png) right center no-repeat;
    border: none;
    margin-right: 8px;
    padding-top: 5px;
    outline: none;
    cursor: pointer;
}

.no-line {
    background: none !important;
}

.language-menu{
    width: 48px;
    border: none;
    color: #585951;
    padding: 0;
}

.lighter
{
    font-weight: lighter;
}

.bold {
    font-weight: bold;
}

/*Main Section*/
.slides{
    height: 240px;
    width: 420px;
    padding: 10px 0 10px 0;
    font-family: Verdana, Geneva, sans-serif;
    color: white;
}

.bullets, .cards{
    padding-left: 0;
}

.slide-buttons{
    display: inline-block;
    list-style-type: none;
    float: left;
    width: 10px;
    height: 10px;
    background-color: #e0e0e0;
    border-radius: 2px;
    margin-right: 8px;
    box-shadow: 0 1px 3px 0 grey;
    cursor: pointer;
}

.active-slide-button{
    background-color: #2E94C8 !important;
}

.btn-learn-more{
    text-transform: uppercase;
    background: url(../img/btnArrow.png) right 15px center no-repeat, linear-gradient(to bottom, #2e94c8 , #1188c4);
    height: 36px;
    width: 180px;
    padding: 10px;
    border: none;
    text-align: left;
    border-radius: 6px;
    color: white;
    box-shadow: 0 1px 3px 0 grey;
    cursor: pointer;
}

.cards>li , .services-list>li{
    display: inline-block;
    list-style-type: none;
}

.featured-box{
    float: left;
    width: 256px;
    height: 7em;
    padding: 15px 15px 15px 15px;
    margin-right: 27px;
    border-radius: 6px;
    list-style-type: none;
    box-shadow: 0 1px 3px 0 grey;
    font-size: 1.3em;
    color: white;
}

.pink-bg {
    background-color: rgba(251, 66, 158, 0.9);
}

.pink-bg:hover {
    background-color: rgba(251, 66, 158, 1);
}

.green-bg {
    background-color: rgba(106, 192, 50, 0.9);
}

.green-bg:hover {
    background-color: rgba(106, 192, 50, 1);
}

.orange-bg {
    background-color: rgba(255, 117, 24, 0.9);
}

.orange-bg:hover {
    background-color: rgba(255, 117, 24, 1);
}

.read-more-icon{
    vertical-align: middle;
}

.read-more-text{
    font-size: 0.7em;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

/*Services Stories*/
.services-section {
    background: url(../img/weDoBG.png) repeat scroll 0 0, radial-gradient(ellipse at center, #59bedb 0%,#3399cc 100%);
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: white;
    padding: 0 0 60px;
}

.services-section button {
    font-size: 0.9em;
    text-transform: none;
    margin-top: 1em;
}

.services-list{
    display: block;
    list-style-type: none;
    padding: 0;
}

.services-list > li > a{
    color: white;
    display: inline-table;
    font-size: 0.9em;
    width: 9em;
    text-align: center;
    text-transform: none;

}

.service-list > li {
    display: inline-block;
    padding:0;
    margin:0;
}

.data-monetization{
    display: block;
    background: transparent url(../img/data-monetization.png) no-repeat center bottom;
    height: 62px;
    width: 130px;
}

.data-monetization:hover{
    background: transparent url(../img/data-monetization-hover.png) no-repeat center bottom;
}

.robot{
    display: block;
    background: transparent url(../img/robot-icon.png) no-repeat center bottom;
    height: 82px;
    width: 130px;
}

.robot:hover{
    background: transparent url(../img/robot-icon-hover.png) no-repeat center bottom;
}

.flag{
    display: block;
    background: transparent url(../img/flag-icon.png) no-repeat center bottom;
    height: 88px;
    width: 130px;
}

.flag:hover{
    background: transparent url(../img/flag-icon-hover.png) no-repeat center bottom;
}

.cloud{
    display: block;
    background: transparent url(../img/cloud-icon.png) no-repeat center bottom;
    height: 74px;
    width: 130px;
}

.cloud:hover{
    background: transparent url(../img/cloud-icon-hover.png) no-repeat center bottom;
}

.managed{
    display: block;
    background: transparent url(../img/managed-services.png) no-repeat center bottom;
    height: 92px;
    width: 130px;
}

.managed:hover{
    background: transparent url(../img/managed-services-hover.png) no-repeat center bottom;
}

.social{
    display: block;
    background: transparent url(../img/social-icon.png) no-repeat center bottom;
    height: 66px;
    width: 130px;
}

.social:hover{
    background: transparent url(../img/social-icon-hover.png) no-repeat center bottom;
}

.happening-section {
    background: url(../img/news-and-events-bg.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: white;
    height: 420px;
}

.happening-section h3 {
    font-weight: lighter;
}

.news, .events {
    display: inline-block;
    float: left;
    font-size: 1.8em;
}

.news-box, .events-box{
    float: left;
    margin-right: 20px;
    padding: 0;
    font-size: 0.5em;
    background: rgba(221, 211, 203, 0.6);
    width: 296px;
    height: 120px;
    border-radius: 3px;
}

.events-box:last-child{
    margin-right: 0;
}

.news-box p, .events-box p{
    width: 14em;
    color: #000;
    margin-left: 6em;
    margin-bottom: 3em;
    font-weight: 100;
}

.news-list, .events-list{
    margin-top: -25px;
    display: block;
    list-style-type: none;
    padding: 0;
}

.date {
    font-size: 2.9em;
    float: left;
    width: 70px;
    height: 100px;
    background: rgb(51, 153, 204);
    border-radius: 1px;
    margin: -5px 0 0 11px;
    box-shadow: 0 1px 4px 0 grey;
}

.day{
    text-transform: uppercase;
    text-align: center;
    border-bottom: 1px dotted;
}

.month{
    font-size: 0.5em;
    text-transform: uppercase;
    margin-bottom: 10em;
    text-align: center;
}

.calendar {
    font-size: 0.8em;
    display: inline-block;
    color: #FFF;
}

.calendar::before{
    content: url(../img/eventListIconEvents.png);
    vertical-align: sub;
    padding: 4px;
}

.calendar:hover, .newspaper:hover {
    color: #000;
}

.calendar:hover::before{
    content: url(../img/eventListIconEvents_hover.png);
    vertical-align: sub;
}

.newspaper {
    font-size: 0.8em;
    display: inline-block;
    color: #FFF;
}

.newspaper::before{
    content: url(../img/eventListIconNews.png);
    vertical-align: sub;
    padding: 4px;
}

.newspaper:hover::before{
    content: url(../img/eventListIconNews_hover.png);
    vertical-align: sub;
}

.news-box:hover, .events-box:hover{
    background: rgba(221, 211, 203, 0.9);
    cursor: pointer;
}

/*Success Stories*/
.success-stories {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background: rgb(236, 236, 236);
    height: 555px;
    text-align: center;
}

.success-stories button{
    text-transform: none;
    margin-top: 1.5em;
}

.story-row{
    float: left;
    width: 350px;
    margin-right: 10px;
    text-align: left;
}

.story-row>a, li>a, li>span>a{
    text-decoration: none;
    color: #000;
}

.last-row {
    width: 230px;
    margin-right: 0;
}

.success-story-box{
    background: rgb(255, 255, 255);
    padding: 18px;
    border-radius: 2px;
    margin: 0 0 10px 0;
    width: auto;
    height: 175px;
    position: relative;
    z-index: 0;
}

.success-story-box:before{
    background: #3398CC url("../img/logos_generic_2nd_side_cut_02_w108px_x_h95px.jpg") center center no-repeat;
    content: "";
    width: 100%;
    height: 0;
    transition: height 0.4s ease-in;
    display: block;
    top:0;
    left:0;
    position: absolute;
    z-index: 900;
}

.success-story-box:hover:before{
    height:100%;
}

.story{
    border-bottom: 1px solid rgb(221, 221, 221);
    height: 8em;
}

.story p{
    display: inline-block;
    overflow: hidden;
    float: left;
    margin: 0;
}

.story img{
    float: left;
    display: inline-block;
    margin-right: 10px;
}

.story-author h3{
    font-size: 0.9em;
    font-weight: normal;
    color: #4fadde;
    margin: 5px 0 0 0;
}

.story-author p{
    font-size: 0.9em;
    font-weight: normal;
    margin: 0;
    min-width: 10em
}

.story-author img{
    float: right;
    height: 1.9em;
    margin: 5px 0 0 0;
    -webkit-filter: grayscale(100%);
}

.companies-logos{
    list-style-type: none;
    margin: 0 0 3px 0;
    padding: 0;
    display: inline-block;
}

.company-logo:last-child{
    margin: 0;
}

.companies-logos > li{
    display: inline-block;
    float: left;
    width: 110px;
    height: 100px;
    border-radius: 2px;
    margin: 0 10px 0 0;
}

.big-paragraph{
    width: 12em;
    font-size: 1.01em;
}
.small-paragraph{
    font-size: 0.87em;
    width: 14.5em;
}

.company-logo{
    text-align: center;
}

.company-logo:after{
    background: #3398CC url("../img/logos_generic_2nd_side_cut_02_w108px_x_h95px.jpg") center center no-repeat;
    content: "";
    width: 100%;
    height: 0;
    transition: height 0.4s ease-in;
    display: block;
    bottom:0;
    left: 0;
    position: relative;
}

.company-logo:hover:after{
    height: 100%;
}

.cycle30{
    background: white url("../img/cycle30.png") center center no-repeat;
}

.bull{
    background: white url("../img/bull.png") center center no-repeat;
}

.gemplus{
    background: white url("../img/gemplus.png") center center no-repeat;
}

.mtc{
    background: white url("../img/mtc.png") center center no-repeat;
}

.cable-and-wireless{
    background: white url("../img/cable&wireless.png") center center no-repeat;
}

.trilogy{
    background: white url("../img/trilogy.png") center center no-repeat;
}

.tatasky{
    background: white url("../img/tatasky.png") center center no-repeat;
}

.hp{
    background: white url("../img/hp.png") center center no-repeat;
}

.atos{
    background: white url("../img/atos.png") center center no-repeat;
}

/*Footer*/
footer > .content-wrapper{
    padding-bottom: 0;
}

.subjects{
    display: inline-block;
    float: left;
    margin-right: 60px;
    padding-top: 10px
}

.subjects h2{
    font-size: 1em;
    font-weight: normal;
}

footer aside{
    float: right;
    width: 260px;
    height: 320px;
    background: rgba(221, 211, 203, 0.15);
    color: white;
}

.subjects-list, .social-networks > ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    float: left;
}

.subjects-list a {
    color: #FFF;
}

.copyrights{
    display: block;
    clear: left;
    padding-top: 5em;
    color: rgb(113, 113, 113);
}

.copyrights > span, .mobile-copyrights span{
    border-right: rgb(113, 113, 113) solid 1px ;
    padding-right: 0.8em;
    margin-right: 0.8em;
}

.copyrights > a, .copyrights a {
    text-decoration: none;
    color: rgb(113, 113, 113)
}

footer > .content-wrapper{
    padding-top: 0;
}

aside h2 {
    color: #4ea7d3;
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
    font-size: 1.4em;
}

aside > a {
    text-decoration: none;
}

.blog-posts-date{
    float: left;
    margin-right: 20px;
    text-align: center;
}

.blog-posts-day{
    font-weight: bolder;
    font-size: 2.9em;
    padding-bottom: 0;
}

.blog-posts-month{
    font-size: 1.7em;
    text-align: center;
    padding-top: 0;
}

.blog-posts-paragraph{
    font-size: 1.37em;
    padding-top: 7px;
}

.latest-blog-posts{
    border-bottom: 1px solid rgb(106, 106, 106);
    margin: 1em;
    color: white;
}

.subscribe{
    margin: 1em;
}

.subscribe-form {
    border: none;
    border-radius: 2px;
    outline: none;
    background: white;
}

.subscribe-mail {
    width: 67%;
    height: 26px;
    margin: 0;
    padding: 0 0 0 5px;
    border: none;
    border-radius: 2px;
    background: white;
}

.subscribe-submit {
    background: linear-gradient(to bottom, #40a5d7 , #2a92c6);
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    height: 26px;
    width: 30%;
    float: right;
}

.social-networks{
    margin: 3.3em 1em 1em 1em;
}

.social-networks li {
    display: inline-block;
    float: left;
    margin-right: 10px;
}

.youtube:hover {
    content: url(../img/socialMenuIcon-youtube_hover.png);
}

.twitter:hover {
    content: url(../img/socialMenuIcon-twitter_hover.png);
}

.linkedin:hover {
    content: url(../img/socialMenuIcon-linkedin_hover.png);
}

/*General*/

body{
    font-family: "Helvetica", "Arial", Sans-Serif;
    margin: 0;
    padding: 0;
}

main{
    background: url(../img/slide-bg-complexity.jpg) no-repeat center center fixed;
    background-size: cover;
    min-height: 550px;
}

header{
    font-family: Helvetica, Arial, Sans-Serif;
    font-size: 13px;
    background-color: white;
    padding: 0 0 10px 0;
    width: 100%;
}

.main-nav-list{
    display: inline-block;
    margin-right: 2em;
}

li{
    display: list-item;
}

section h2 {
    text-align: center;
    font-size: 2.5em;
    font-weight: lighter;
}

footer{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 0.8em;
    color: #dbdbdb;
    background: url(../img/footer-bg.png);
    height: 320px;
}

/*Mobile*/
.mobile-search,.mobile-search-icon, .mobile-main-nav-list, .mobile-search-form, .mobile-header-background,
.mobile-bullets, .promotion-arrow, .mobile-footer, .mobile-logo, .mobile-menu-items, .mobile-menu, .mobile-menu-icon,
.back-to-top, .hidden-label{
    display: none;
}
